<!-- comments.html -->
<div class="comments-section">
    <div id="disqus_thread"></div>
    <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-discussion="chervethreadofficial/320"
            data-comments-limit="6"
            data-colorful="1"
            data-color="FFB0E2"
            data-dark="1"></script>
    <noscript>
        Включите JavaScript, чтобы просмотреть 
        <a href="https://telegram.org/js/telegram-widget.js?22" 
           data-telegram-discussion="chervethreadofficial/320">комментарии, обеспечиваемые Telegram.</a>.
        <script>
            document.write('<script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-discussion="chervethreadofficial/320" data-comments-limit="10" data-colorful="1" data-color="FFB0E2" data-dark="1"><\/script>');
        </script>
    </noscript>
</div>
