<!DOCTYPE html>

      {% if site.contact.address != "" %}
        <i class="fas fa-map-marker-alt" style="margin-left: 20px;"></i> {{ site.contact.address }}
      {% endif %}
    </div>
  </div>


  <div class="back-to-top">
    <i class="fas fa-chevron-up"></i>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
  <script src="{{ '/assets/js/script.js' | absolute_url }}"></script>
</body>
  </html>
